body{
    margin: 0px;
    background: #acfff8;
    height: 100%;
}

.main {
    height: 100%;
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-flow: column;
    padding: 100px 60px;
}

.caption {
    text-align: center;
    border: 1px rgba(0, 0, 0);
    font: italic 40px "Fira Sans", serif;
}

.bg {
    background-image: url("https://api.ambr.top/assets/UI/namecard/UI_NameCardPic_Kokomi_P.png");
}

.banner_wrap {
    padding: 0px 40px 40px 40px;
    background: #acfff8;
}

.banner {
    border-collapse: collapse;
    padding: 20px;
}

.spacer {
    padding: 20px;
}

#Generator {
    padding: 10px 20px;
    border-radius: 20px;
    border-color: aquamarine;
    border-style: solid;
    background-color: azure;
}

#dlbutton {
    padding: 10px 20px;
    border-radius: 20px;
    border-color: aquamarine;
    border-style: solid;
    background-color: azure;
}

.char {
    height: 400px;
    width: 162px;
    border: 1px solid rgb(0, 0, 0);
    position: relative;
}

.credit {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
