body{
    margin: 0px;
    background: #acfff8;
    height: 100%;
}

.main {
    height: 100%;
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-flow: column;
    padding: 100px 60px;
}

.spacer {
    padding: 5px;
}

.input_wrap {
    padding: 10px 20px;
    border-radius: 30px;
    border-color: aquamarine;
    border-style: solid;
    background-color: azure;
    text-align: center;
}

.setLimit {
    padding: 10px 20px;
    border-radius: 20px;
    border-color: aquamarine;
    border-style: solid;
    background-color: azure;
    text-align: center;
}

.char {
    padding: 10px 20px;
    border-radius: 30px;
    border-color: aquamarine;
    border-style: solid;
    background-color: azure;
}

.img {
    width: 16.6667%;
}

.canvas {
    padding: 15px;
    border-radius: 40px;
    border-color: rgb(65, 231, 129);
    border-style: solid;
    border-width: 10px;
    background-color: rgb(147, 255, 189);
}

canvas {
    padding: 10px;
}
