@media screen and (max-width: 499px) {
    body{
        margin: 0px;
        background-image: url(bg_m.png);
        height: 100%;
        background-repeat:no-repeat;
        background-size:cover;
    }
    header {
        padding: 250%;
    }
}
  
@media screen and (min-width: 500px) and (max-width: 999px) {
    body{
        margin: 0px;
        background-image: url(bg_m.png);
        height: 100%;
        background-repeat:no-repeat;
        background-size:cover;
    }
}
  
@media screen and (min-width:1000px) {
    body{
        margin: 0px;
        background-image: url(bg.png);
        height: 100%;
        background-repeat:no-repeat;
        background-size:cover;
    }
}

header > div {
    display: flex;
    justify-content: center;
}

header > div > img {
    height: 190px;
    width: auto;
    position: absolute;
    top: 0px;
}

#twitter {
    width: 50px;
    height: 50px;
    background-image: url(Twitter.ico);
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.main {
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-flow: column;
}

.cp {
    color: #e89a9a;
    position: relative;
    padding: 0px 0px 60px;
}

.cp input {
    font: 15px/24px sans-serif;
    width: 100%;
    border: none;
    padding: 8px 10px;
    border-radius: 25px;
    background-color: #a8a8a8b8;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
}

.percent::after {
    color: #e89a9a;
    content: "%";
    display: inline-block;
    position: relative;
    left: 250px;
    bottom: 30px;
}

#exec {
    padding: 0px 0px 10px;
}

#exec input {
    color: #626060;
    border: none;
    border-radius: 25px;
    background-color: #e76060;
    padding: 10px 15px;
}

#exec input:active {
    transform: translateY(2px);
}

#result {
    padding-top: 30px;
}

#result p {
    font: 15px/24px sans-serif;
    color: #ff9696;
}

#result p > a {
    font: 15px/24px sans-serif;
    color: rgb(221, 255, 0);
}
